/**********************************************************************
/*  CSS Variables
/***********************************************************************/
:root {
  /*
    bg: background
    bd: border
    mg: margin
    padding: pd
  */
  /*colors*/
  --text-color: #282c37;
  --accent-color: #5c196b;
  --hover-color: #5c196b;
  --hover-bg-color: #5c196b;
  --focus-color: #fffff5;
  --focus-bg-color: #5c196b;
  --link-color: #22296a;
  --bd-color: #ffda8e;
  --bg-color: #fffffe;
  /*font*/
  --text-size: 1.1875rem;
  --h1: calc(var(--text-size) * 1.8);
  --h2: calc(var(--text-size) * 1.6);
  --h3: calc(var(--text-size) * 1.4);
  --h4: calc(var(--text-size) * 1.2);
  --h5: calc(var(--text-size) * 1.05);
  --nav-link-size: calc(var(--text-size) * 1.125);
  /*hover and focus*/
  --scale-start: 1;
  --scale-end: 1.05;
  --scale-time: 150ms;
  --interact-pd: 0em;
  --interact-bd-rad: 0.25em;
  /*layout*/
  --header-offset: 2.5em;
}
/**********************************************************************
/*  Typography - Native elements
/***********************************************************************/
* {
  /*overwrite chrome default style.*/
  /*I know I need to style :hover and :focus!*/
  outline: none;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Garamond;
  font-size: var(--text-size);
  color: var(--text-color);
  background-color: var(--bg-color);
  line-height: 1.4;
  text-align: justify;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  text-align: left;
}

h1 {
  font-size: var(--h1);
  text-align: center;
}
h2 {
  font-size: var(--h2);
}
h3 {
  font-size: var(--h3);
}
h4 {
  font-size: var(--h4);
}
h5 {
  font-size: var(--h5);
}
hr {
  margin: 2em auto;
  width: 10em;
}
p {
  letter-spacing: 1px;
}
a {
  color: var(--link-color);
  transform: scale(var(--scale-start));
  transition: transform var(--scale-time);
  display: inline-block;
  text-align: center;
}
a:focus,
a:hover {
  padding: var(--interact-pd);
  border-top-left-radius: var(--interact-bd-rad);
  border-bottom-right-radius: var(--interact-bd-rad);
  transform: scale(var(--scale-end));
}
a:hover {
  color: var(--hover-color);
  /* background-color: var(--hover-bg-color); */
}
a:focus {
  color: var(--focus-color);
  background-color: var(--focus-bg-color);
}

img {
  width: 100%;
}

header {
  background-color: var(--bg-color);
  z-index: 999;
  border-bottom: 1px solid #eaeaea;
}
nav {
  font-weight: bold;
  font-family: Montserrat;
  font-size: var(--nav-link-size);
}

nav a:hover {
  text-decoration: underline;
}

li {
  list-style-type: decimal;
}

pre {
  white-space: pre-wrap;
}
code {
  white-space: pre-wrap !important;
}
footer {
  border-top: 1px solid #d9e1e8;
}

/**********************************************************************
/*  Typography - Content specific
/***********************************************************************/
.year,
.post-link {
  list-style: none;
}

.back {
  margin-top: 1em;
}
.title {
  margin: 1em 0;
}
.title-about {
  align-self: center;
}
.post-date {
  font-style: italic;
  font-family: console;
  font-size: calc(var(--text-size) * 0.8);
}
.post-page-title {
  margin-bottom: 0.5rem;
}
.categories {
  text-align: center;
  font-style: italic;
}

.netlify-heart img {
  height: 2rem;
  width: initial;
}

.netlify-heart:focus {
  border-radius: var(--interact-bd-rad);
}

.fine-print {
  font-size: calc(var(--text-size) * 0.75);
  text-align: center;
}
.fine-print:last-child {
  margin-bottom: 0;
}

/**********************************************************************
/**********************************************************************
/*  Layout - Header and Nav
/***********************************************************************/
header {
  height: var(--header-offset);
  display: flex;
  justify-content: flex-end;
}

.hide-header {
  opacity: 0;
  margin-top: -5em !important;
}

.show-header {
  opacity: 1;
  margin-top: 0px !important;
}

.header {
  -webkit-transition: all 250ms ease !important;
  -moz-transition: all 250ms ease !important;
  -o-transition: all 250ms ease !important;
  -ms-transition: all 250ms ease !important;
  transition: all 250ms ease !important;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  margin: 0 0.5em 0;
}

/**********************************************************************
/*  Layout - Content
/***********************************************************************/

del {
  padding: 0 0.25em;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
  table-layout: fixed;
  white-space: nowrap;
  margin-bottom: var(--header-offset);
}
thead,
tbody {
  width: 100%;
}
td,
th {
  border: 1px solid var(--text-color);
  padding: 0.5rem;
  overflow-x: scroll;
}
main,
footer section {
  margin: 0 1em;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* padding-top: var(--header-offset); */
}

.years,
.posts {
  margin: 0;
  padding: 0;
}
.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.post-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.125em;
}
.post-link:last-child {
  margin-bottom: var(--header-offset);
}

.profile-pic {
  width: 10em;
  margin: 0 auto;
  border-radius: 50em;
}
/**********************************************************************
/*  Layout - Footer
/***********************************************************************/
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: calc(var(--header-offset) - 1em) 0;
}

.social-links a {
  display: block;
  margin-bottom: 1em;
}

/**********************************************************************
/* Responsive tables for everyone
/* Force table to not be like tables anymore
/***********************************************************************/
table {
  display: flex;
  width: 100%;
}

thead {
  width: 20%;
}
th,
td,
tr {
  display: block;
}

td {
  /* Behave  like a "row" */
  position: relative;
  width: 80%;
}

td:before {
  /* Now like a table header */
  position: absolute;
  /* Top/left values mimic padding */
  top: 6px;
  left: 6px;
  padding-right: 10px;
  white-space: nowrap;
}

/**********************************************************************
/* Media queries
/***********************************************************************/
@media (min-width: 36em) {
  .layout {
    display: grid;
    grid-template-columns: minmax(1em, 1fr) minmax(0, 30em) minmax(1em, 1fr);
    grid-template-areas:
      '. header .'
      '. main .'
      '. footer .';
  }

  header {
    grid-area: header;
  }
  main {
    grid-area: main;
  }
  footer {
    grid-area: footer;
  }

  main,
  footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  nav {
    justify-content: flex-end;
  }
  .nav-link {
    margin: 0 0 0 1.5em;
  }

  .posts {
    width: 100%;
    display: grid;
    align-items: stretch;
    grid-template-columns: 1em 1fr 1fr 1em;
  }
  .posts li:nth-child(2n + 1) {
    grid-column: 2;
  }
  .posts li:nth-child(2n) {
    grid-column: 3;
  }

  /*This cause to have links to be glued to the texts of a p element they are in...*/
  /* main p {
    display: flex;
  } */
  p img {
    justify-self: center;
    width: 20em;
    margin: 0 auto;
  }
}
